{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}


{% block content %}
<div class='container-fluid row justify-content-center'>
    <div class="col-8">
        <h1 class="m-3 text-center">Login</h1>
        <form method="post" action="{{url_for('login')}}" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="container-fluid row justify-content-center">
                <button type="submit" class="btn btn-primary col-1">Submit</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}

