{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}


{% block content %}
<div class='container-fluid row justify-content-center'>
    <div class="col-8">
        <h1 class="m-3 text-center">Register</h1>
        <form method="post" action="{{url_for('register')}}" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="mb-3 col-6">
                      <label for="confirm_password" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Complete Address</label>
                <textarea class="form-control" id="address" rows="3" name="address"></textarea>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Select your Role</label>
                <div id="role">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="customer">
                        <label class="form-check-label" for="inlineRadio1">Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="store_manager">
                        <label class="form-check-label" for="inlineRadio2">Store Manager</label>
                    </div>
                </div>
            </div>
            <div class="container-fluid row justify-content-center">
                <button type="submit" class="btn btn-primary col-1">Register</button>
            </div>
          </form>
    </div>
</div>
{% endblock %}

